<a href="https://colab.research.google.com/github/Sirju1997/My_first_binder1/blob/main/a3_q2_816004557(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 3, Question - 2**
**816004557**

**What are the implications of loading additional features (that might not be necessary for analysis)
into PySpark**

Loading additional features into PySpark without considering their necessity for analysis can lead to several implications.

Firstly, it can increase resource consumption and slow down job execution due to added computational overhead. This complexity in data processing can make pipelines harder to understand and maintain.

Additionally, including unnecessary features in machine learning models raises the risk of overfitting and decreases generalization performance.

Lastly, debugging and troubleshooting become more challenging with unnecessary features, emphasizing the importance of carefully considering which features are truly needed for analysis to optimize performance and maintain data integrity.

**Create a sql context from PySpark SQLContext**

In [134]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:10 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,166 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/multiverse amd64 Packages [61.3 kB]
Fetched 2,457 kB in 2s (1,602 kB/s)
Reading package lists... Done
a3_amazon.csv  spark-3.1.1-bin-hadoop3.2      spark-3.1.1-bin-hadoop3.2.tgz.1
sample_data    spark-3.1.1-bin-hadoop3.2.tgz  spark-3.1.1-bin-hadoop3.2.tgz.2

In [135]:
# Create a PySpark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

**Load the Amazon Review Dataset into a PySpark RDD, then Convert the RDD to a PySpark DataFrame**

In [136]:
df = spark.read.csv(r"/content/a3_amazon.csv", header = True, sep=',',inferSchema=False).toDF('Rating','ReviewerID','ProductID','Timestamp','ReviewText')

In [137]:
df.show()

+------+--------------+----------+----------+--------------------+
|Rating|    ReviewerID| ProductID| Timestamp|          ReviewText|
+------+--------------+----------+----------+--------------------+
|     1|A3SK6VNBQDNBJE|1118461304|1383264000|I have enjoyed Dr...|
|     3|A3SOFHUR27FO3K|1118461304|1381363200|Alan Gregerman be...|
|     1|A1HOG1PYCAE157|1118461304|1381276800|Alan Gregerman is...|
|     6|A26JGAM6GZMM4V|1118461304|1378512000|As I began to rea...|
|     5|A17K8WANMYHTX2|1118461304|1399766400|I teach a class o...|
|     3|A13IW3A6W43U0G|1118461304|1399593600|I so appreciated ...|
|     6|A1ECEGG1MP7J8J|1118461304|1399420800|As with Surrounde...|
|     1|A2D5X9G9S3A7RN|1118461304|1399161600|Alan Gregermans b...|
|     6| AP2F86JFRQ205|1118461304|1398988800|I am a believer i...|
|    10|A3VF3A5A3O04E1|1118461304|1397174400|A compelling book...|
|     7|A14DW5UMQ1M96O|1118461304|1395273600|Alan Gregerman's ...|
|     4|A2V7UVKOFG57IW|1118461304|1393459200|So refreshing to ...|
|     9|A2BM5NTLX7CES1|1118461304|1391040000|In this book, the...|
|     2|A1EQ5D5JRSW23K|1118461304|1390003200|What a great titl...|
|     9|A1R2JUOGIYH6HO|1118461304|1389916800|The title of this...|
|     8|A3JRW716H3AX14|1118461304|1389830400|This is a well wr...|
|     8|A3KGLXW3EYDTUH|1118461304|1389744000|Common sense and ...|
|     4|A1B70ZEWQ6UH1A|1118461304|1389398400|The stated premis...|
|    10|A2I5QME4S7CLFI|1118461304|1389139200|I usually find bu...|
|     6|A33HIV8RXRDM88|1118461304|1388966400|Seriously! We alw...|
+------+--------------+----------+----------+--------------------+
only showing top 20 rows

In [138]:
df.printSchema()

root
 |-- Rating: string (nullable = true)
 |-- ReviewerID: string (nullable = true)
 |-- ProductID: string (nullable = true)
 |-- Timestamp: string (nullable = true)
 |-- ReviewText: string (nullable = true)

In [139]:
from pyspark.sql import functions as F

# Convert the Timestamp column to date format
df = df.withColumn('Timestamp_date', F.to_date(F.from_unixtime(df.Timestamp)))

# Show the DataFrame with the new column
df.show()

+------+--------------+----------+----------+--------------------+--------------+
|Rating|    ReviewerID| ProductID| Timestamp|          ReviewText|Timestamp_date|
+------+--------------+----------+----------+--------------------+--------------+
|     1|A3SK6VNBQDNBJE|1118461304|1383264000|I have enjoyed Dr...|    2013-11-01|
|     3|A3SOFHUR27FO3K|1118461304|1381363200|Alan Gregerman be...|    2013-10-10|
|     1|A1HOG1PYCAE157|1118461304|1381276800|Alan Gregerman is...|    2013-10-09|
|     6|A26JGAM6GZMM4V|1118461304|1378512000|As I began to rea...|    2013-09-07|
|     5|A17K8WANMYHTX2|1118461304|1399766400|I teach a class o...|    2014-05-11|
|     3|A13IW3A6W43U0G|1118461304|1399593600|I so appreciated ...|    2014-05-09|
|     6|A1ECEGG1MP7J8J|1118461304|1399420800|As with Surrounde...|    2014-05-07|
|     1|A2D5X9G9S3A7RN|1118461304|1399161600|Alan Gregermans b...|    2014-05-04|
|     6| AP2F86JFRQ205|1118461304|1398988800|I am a believer i...|    2014-05-02|
|    10|A3VF3A5A3O04E1|1118461304|1397174400|A compelling book...|    2014-04-11|
|     7|A14DW5UMQ1M96O|1118461304|1395273600|Alan Gregerman's ...|    2014-03-20|
|     4|A2V7UVKOFG57IW|1118461304|1393459200|So refreshing to ...|    2014-02-27|
|     9|A2BM5NTLX7CES1|1118461304|1391040000|In this book, the...|    2014-01-30|
|     2|A1EQ5D5JRSW23K|1118461304|1390003200|What a great titl...|    2014-01-18|
|     9|A1R2JUOGIYH6HO|1118461304|1389916800|The title of this...|    2014-01-17|
|     8|A3JRW716H3AX14|1118461304|1389830400|This is a well wr...|    2014-01-16|
|     8|A3KGLXW3EYDTUH|1118461304|1389744000|Common sense and ...|    2014-01-15|
|     4|A1B70ZEWQ6UH1A|1118461304|1389398400|The stated premis...|    2014-01-11|
|    10|A2I5QME4S7CLFI|1118461304|1389139200|I usually find bu...|    2014-01-08|
|     6|A33HIV8RXRDM88|1118461304|1388966400|Seriously! We alw...|    2014-01-06|
+------+--------------+----------+----------+--------------------+--------------+
only showing top 20 rows

In [140]:
df.printSchema()

root
 |-- Rating: string (nullable = true)
 |-- ReviewerID: string (nullable = true)
 |-- ProductID: string (nullable = true)
 |-- Timestamp: string (nullable = true)
 |-- ReviewText: string (nullable = true)
 |-- Timestamp_date: date (nullable = true)

In [141]:
df.show()

+------+--------------+----------+----------+--------------------+--------------+
|Rating|    ReviewerID| ProductID| Timestamp|          ReviewText|Timestamp_date|
+------+--------------+----------+----------+--------------------+--------------+
|     1|A3SK6VNBQDNBJE|1118461304|1383264000|I have enjoyed Dr...|    2013-11-01|
|     3|A3SOFHUR27FO3K|1118461304|1381363200|Alan Gregerman be...|    2013-10-10|
|     1|A1HOG1PYCAE157|1118461304|1381276800|Alan Gregerman is...|    2013-10-09|
|     6|A26JGAM6GZMM4V|1118461304|1378512000|As I began to rea...|    2013-09-07|
|     5|A17K8WANMYHTX2|1118461304|1399766400|I teach a class o...|    2014-05-11|
|     3|A13IW3A6W43U0G|1118461304|1399593600|I so appreciated ...|    2014-05-09|
|     6|A1ECEGG1MP7J8J|1118461304|1399420800|As with Surrounde...|    2014-05-07|
|     1|A2D5X9G9S3A7RN|1118461304|1399161600|Alan Gregermans b...|    2014-05-04|
|     6| AP2F86JFRQ205|1118461304|1398988800|I am a believer i...|    2014-05-02|
|    10|A3VF3A5A3O04E1|1118461304|1397174400|A compelling book...|    2014-04-11|
|     7|A14DW5UMQ1M96O|1118461304|1395273600|Alan Gregerman's ...|    2014-03-20|
|     4|A2V7UVKOFG57IW|1118461304|1393459200|So refreshing to ...|    2014-02-27|
|     9|A2BM5NTLX7CES1|1118461304|1391040000|In this book, the...|    2014-01-30|
|     2|A1EQ5D5JRSW23K|1118461304|1390003200|What a great titl...|    2014-01-18|
|     9|A1R2JUOGIYH6HO|1118461304|1389916800|The title of this...|    2014-01-17|
|     8|A3JRW716H3AX14|1118461304|1389830400|This is a well wr...|    2014-01-16|
|     8|A3KGLXW3EYDTUH|1118461304|1389744000|Common sense and ...|    2014-01-15|
|     4|A1B70ZEWQ6UH1A|1118461304|1389398400|The stated premis...|    2014-01-11|
|    10|A2I5QME4S7CLFI|1118461304|1389139200|I usually find bu...|    2014-01-08|
|     6|A33HIV8RXRDM88|1118461304|1388966400|Seriously! We alw...|    2014-01-06|
+------+--------------+----------+----------+--------------------+--------------+
only showing top 20 rows

In [142]:
df1 = df.filter(F.year('Timestamp_date')==F.lit(2015))

In [143]:
# Sort DataFrame df1 by the 'Rating' column in descending order
df1_sorted = df1.sort("Rating", ascending=False)

# Display the top 20 rows of the sorted DataFrame
df1_sorted.show(20)

# Group the sorted DataFrame by 'ProductID' and count the occurrences of each product
Prod_20 = df1_sorted.groupBy('ProductID').agg(F.count("*").alias('Product_count'))

# Sort the grouped DataFrame by 'Product_count' in descending order
Prod_20 = Prod_20.sort('Product_count', ascending=False)

# Display the resulting DataFrame showing the count of each product
Prod_20.show()

+------+--------------+----------+----------+--------------------+--------------+
|Rating|    ReviewerID| ProductID| Timestamp|          ReviewText|Timestamp_date|
+------+--------------+----------+----------+--------------------+--------------+
|     9|A2169CG0W2XTLK|B00GOHJR7K|1436054400|Love it, fast del...|    2015-07-05|
|     9|A34QDBXNXHMPT8|B00GS9ICU2|1427587200|Fit my dryer perf...|    2015-03-29|
|     9|A1C85REV513NSV|B00GRY0JTU|1424995200|It works well, ex...|    2015-02-27|
|     9|A2OKTV6UCQF3QA|B00GS3G0B6|1439510400|               great|    2015-08-14|
|     9|A3AK07JRVE4FM6|B00GOFPA46|1423612800|Works great and m...|    2015-02-11|
|     9|A3FC1URWMXN0DS|B00GS3G0B6|1429142400| Great.  As expected|    2015-04-16|
|     9|A13NKGBGJCAYFU|B00GOFSTGM|1445385600|Better then I tho...|    2015-10-21|
|     9|A3QD0MJQ70KFDS|B00GS3G0B6|1426291200|Perfect fit for m...|    2015-03-14|
|     9|A2X7Z8ZF5PE3D0|B00GOFSTGM|1423526400|The hood is great...|    2015-02-10|
|     9|A36IGBPJOZ6ICT|B00GS9GJ3O|1431561600|Perfect fit, easy...|    2015-05-14|
|     9|A18Y080O8HYB0J|B00GOFUISY|1443225600|Very hard to inst...|    2015-09-26|
|     9|A3C5QMGXJZ18LI|B00GS9ICU2|1442707200|Don't waste your ...|    2015-09-20|
|     9|A2Z1RACFCLACCI|B00GNM8V0A|1428537600|Quality looks goo...|    2015-04-09|
|     9|A3ONHT4NL5WPY6|B00GS9ICU2|1442448000|Great product. Fa...|    2015-09-17|
|     9|A11NSQX11PCBP8|B00GS9ICU2|1428969600|Perfect item, gre...|    2015-04-14|
|     9|A2EF0XFPSBMSAR|B00GS9ICU2|1437782400|              Great!|    2015-07-25|
|     9|A3J6W4671EMGGN|B00GOFSTGM|1441065600|Looks nice. Howev...|    2015-09-01|
|     9|A3TTFM2W1ZP7XW|B00GS9ICU2|1437696000|arrived on time j...|    2015-07-24|
|     9|A1TXVIZUUYI9MG|B00GNM8V0A|1431043200|Took under 15 min...|    2015-05-08|
|     9|A3INL4F2A9R0JT|B00GS9ICU2|1431993600|Didn't work berry...|    2015-05-19|
+------+--------------+----------+----------+--------------------+--------------+
only showing top 20 rows

+----------+-------------+
| ProductID|Product_count|
+----------+-------------+
|B000AST3AK|         1487|
|B004UB1O9Q|         1471|
|B00KJ07SEM|         1415|
|B004INUWX0|          715|
|B00E37TQV0|          658|
|B0045LLC7K|          655|
|B0014CN8Y8|          578|
|B0042ACZU2|          555|
|B00SPYDSFC|          453|
|B001B35APA|          443|
|B00DT5746Q|          433|
|B00NIZ0DV0|          426|
|B00INXG9MY|          421|
|B000VL060M|          396|
|B00AHR3IG4|          387|
|B000HE5DNI|          386|
|B00E37TR6E|          380|
|B0053F80JA|          372|
|B00LLM6ZFK|          363|
|B0009GVYNW|          362|
+----------+-------------+
only showing top 20 rows

In [168]:
# Add a new column 'ProdIndex' to DataFrame Prod_20 with monotonically increasing IDs
prod_index = Prod_20.withColumn("ProdIndex", F.monotonically_increasing_id())

# Filter the DataFrame to keep only rows where 'ProdIndex' is less than 20
prod_index = prod_index.where(F.col('ProdIndex') < 20)

# Display the filtered DataFrame
prod_index.show()

+----------+-------------+---------+
| ProductID|Product_count|ProdIndex|
+----------+-------------+---------+
|B000AST3AK|         1487|        0|
|B004UB1O9Q|         1471|        1|
|B00KJ07SEM|         1415|        2|
|B004INUWX0|          715|        3|
|B00E37TQV0|          658|        4|
|B0045LLC7K|          655|        5|
|B0014CN8Y8|          578|        6|
|B0042ACZU2|          555|        7|
|B00SPYDSFC|          453|        8|
|B001B35APA|          443|        9|
|B00DT5746Q|          433|       10|
|B00NIZ0DV0|          426|       11|
|B00INXG9MY|          421|       12|
|B000VL060M|          396|       13|
|B00AHR3IG4|          387|       14|
|B000HE5DNI|          386|       15|
|B00E37TR6E|          380|       16|
|B0053F80JA|          372|       17|
|B00LLM6ZFK|          363|       18|
|B0009GVYNW|          362|       19|
+----------+-------------+---------+

**Show the top 20 reviewers and the products they
reviewed in 2015**

In [169]:
# Group the sorted DataFrame df1_sorted by 'ReviewerID' and count the number of reviews by each reviewer
reviewers = df1_sorted.groupBy('ReviewerID').agg(F.count("*").alias('Reviewers_count'))

# Sort the grouped DataFrame by the number of reviews in descending order
reviewers = reviewers.sort('Reviewers_count', ascending=False)

# Display the resulting DataFrame showing the count of reviews for each reviewer
reviewers.show()

# Add a new column 'ReviewerIndex' to DataFrame reviewers with monotonically increasing IDs
reviewers_index = reviewers.withColumn("ReviewerIndex", F.monotonically_increasing_id())

# Display the first 20 rows of the DataFrame with the 'ReviewerIndex' column added
reviewers_index.show(20)

+--------------+---------------+
|    ReviewerID|Reviewers_count|
+--------------+---------------+
|A2LDP3A4IE9T6T|            206|
| AFUVGAUNQVT0S|             40|
|A3H61AMBJ177DG|             29|
|A3RSUFA7CIL3TS|             23|
|A37C9W32E7WE1B|             18|
|A37DQO5LU8DXTV|             17|
|  AGADNX7MZ425|             16|
|A2SEK167AI6DZM|             16|
|A2CIEGHZ7L1WWR|             15|
|A3R9MYRHDWHTVL|             14|
|A2KRNK6HVD2DTY|             14|
| AV052V61HYMAE|             13|
| A41G22PCRD3E8|             12|
| A6FPI5CM4W5WB|             11|
|A13391AZAFJ67K|             11|
| AXYJOIFBWO3K3|             11|
|A17MK6PQZUDLXL|             10|
|A1AJW9DILZFTQI|             10|
|A1BTOP0JZS3YH8|              9|
|A1ELL3S7RMZ4YN|              9|
+--------------+---------------+
only showing top 20 rows

+--------------+---------------+-------------+
|    ReviewerID|Reviewers_count|ReviewerIndex|
+--------------+---------------+-------------+
|A2LDP3A4IE9T6T|            206|            0|
| AFUVGAUNQVT0S|             40|            1|
|A3H61AMBJ177DG|             29|            2|
|A3RSUFA7CIL3TS|             23|            3|
|A37C9W32E7WE1B|             18|            4|
|A37DQO5LU8DXTV|             17|            5|
|  AGADNX7MZ425|             16|            6|
|A2SEK167AI6DZM|             16|            7|
|A2CIEGHZ7L1WWR|             15|            8|
|A2KRNK6HVD2DTY|             14|            9|
|A3R9MYRHDWHTVL|             14|           10|
| AV052V61HYMAE|             13|           11|
| A41G22PCRD3E8|             12|           12|
| A6FPI5CM4W5WB|             11|           13|
| AXYJOIFBWO3K3|             11|           14|
|A13391AZAFJ67K|             11|           15|
|A17MK6PQZUDLXL|             10|           16|
|A1AJW9DILZFTQI|             10|           17|
|A1BTOP0JZS3YH8|              9|           18|
|A1HKSPTH19LXVZ|              9|           19|
+--------------+---------------+-------------+
only showing top 20 rows

In [170]:
# Filter the DataFrame reviewers_index to keep only rows where 'ReviewerIndex' is less than 20
reviewers_index = reviewers_index.where(F.col('ReviewerIndex') < 20)

# Display the filtered DataFrame
reviewers_index.show()

+--------------+---------------+-------------+
|    ReviewerID|Reviewers_count|ReviewerIndex|
+--------------+---------------+-------------+
|A2LDP3A4IE9T6T|            206|            0|
| AFUVGAUNQVT0S|             40|            1|
|A3H61AMBJ177DG|             29|            2|
|A3RSUFA7CIL3TS|             23|            3|
|A37C9W32E7WE1B|             18|            4|
|A37DQO5LU8DXTV|             17|            5|
|  AGADNX7MZ425|             16|            6|
|A2SEK167AI6DZM|             16|            7|
|A2CIEGHZ7L1WWR|             15|            8|
|A2KRNK6HVD2DTY|             14|            9|
|A3R9MYRHDWHTVL|             14|           10|
| AV052V61HYMAE|             13|           11|
| A41G22PCRD3E8|             12|           12|
| A6FPI5CM4W5WB|             11|           13|
| AXYJOIFBWO3K3|             11|           14|
|A13391AZAFJ67K|             11|           15|
|A17MK6PQZUDLXL|             10|           16|
|A1AJW9DILZFTQI|             10|           17|
|A1BTOP0JZS3YH8|              9|           18|
|A1HKSPTH19LXVZ|              9|           19|
+--------------+---------------+-------------+

In [171]:
# Join DataFrame reviewers_index with df1_sorted on the 'ReviewerID' column
top_20 = reviewers_index.join(df1_sorted, reviewers_index['ReviewerID'] == df1_sorted['ReviewerID'])

# Sort the joined DataFrame by 'ReviewerIndex' in ascending order
top_20_sorted = top_20.sort('ReviewerIndex', ascending=True)

# Display the sorted top 20 DataFrame
top_20_sorted.show()

+--------------+---------------+-------------+------+--------------+----------+----------+--------------------+--------------+
|    ReviewerID|Reviewers_count|ReviewerIndex|Rating|    ReviewerID| ProductID| Timestamp|          ReviewText|Timestamp_date|
+--------------+---------------+-------------+------+--------------+----------+----------+--------------------+--------------+
|A2LDP3A4IE9T6T|            206|            0|     9|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     6|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     1|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     5|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     4|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     7|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     3|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     6|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     1|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     9|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     2|A2LDP3A4IE9T6T|B0014CN8Y8|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     8|A2LDP3A4IE9T6T|B0014CN8Y8|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     9|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     5|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     1|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|    10|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     6|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     2|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     1|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
|A2LDP3A4IE9T6T|            206|            0|     5|A2LDP3A4IE9T6T|B0006GVNOA|1449273600|We have 24 foot o...|    2015-12-05|
+--------------+---------------+-------------+------+--------------+----------+----------+--------------------+--------------+
only showing top 20 rows

**Determine whether the top 20 most reviewed products in 2015 are the same as the top 20 products with the highest average rating in 2015**

In [172]:
# Group the sorted DataFrame df1_sorted by 'ProductID' and calculate the average rating for each product
Prod_rating_20 = df1_sorted.groupBy('ProductID').agg(F.avg('Rating').alias('avg_rating'))

# Sort the grouped DataFrame by the average rating in descending order
Prod_rating_20 = Prod_rating_20.sort('avg_rating', ascending=False)

# Display the resulting DataFrame showing the average rating for each product
Prod_rating_20.show()

+----------+----------+
| ProductID|avg_rating|
+----------+----------+
|B00MOCZLP6|      10.0|
|B004IMNTYK|      10.0|
|B00LOX4DXW|      10.0|
|B00Y1TSJF4|      10.0|
|B00QZPA8HE|      10.0|
|B00C9YRSCS|      10.0|
|B00LHRA5JQ|      10.0|
|B000LOAV4A|      10.0|
|B00MHIXZD2|      10.0|
|B00IASX0SI|      10.0|
|B00EN8N5ES|      10.0|
|B00M3ECJG4|      10.0|
|B00VVMLH9E|      10.0|
|B006O7BPE8|      10.0|
|B00B9DZKE8|      10.0|
|B00C6OT7TS|      10.0|
|B00KA36KFG|      10.0|
|B00XK5UPYS|      10.0|
|B0057P2H4K|      10.0|
|B00BW6BZV4|      10.0|
+----------+----------+
only showing top 20 rows

In [173]:
# Add a new column 'RatingIndex' to DataFrame Prod_rating_20 with monotonically increasing IDs
Prod_rating_20_index = Prod_rating_20.withColumn("RatingIndex", F.monotonically_increasing_id())

# Filter the DataFrame to keep only rows where 'RatingIndex' is less than 20
Prod_rating_20_index = Prod_rating_20_index.where(F.col('RatingIndex') < 20)

# Display the filtered DataFrame
Prod_rating_20_index.show()

+----------+----------+-----------+
| ProductID|avg_rating|RatingIndex|
+----------+----------+-----------+
|B00C6OT7TS|      10.0|          0|
|B00VVMLH9E|      10.0|          1|
|B000LOAV4A|      10.0|          2|
|B0057P2H4K|      10.0|          3|
|B00KA36KFG|      10.0|          4|
|B00M3ECJG4|      10.0|          5|
|B006O7BPE8|      10.0|          6|
|B00BW6BZV4|      10.0|          7|
|B00XK5UPYS|      10.0|          8|
|B00C9YRSCS|      10.0|          9|
|B00EN8N5ES|      10.0|         10|
|B00LOX4DXW|      10.0|         11|
|B00Y1TSJF4|      10.0|         12|
|B00MHIXZD2|      10.0|         13|
|B00QZPA8HE|      10.0|         14|
|B004IMNTYK|      10.0|         15|
|B00B9DZKE8|      10.0|         16|
|B00LHRA5JQ|      10.0|         17|
|B00MOCZLP6|      10.0|         18|
|B00IASX0SI|      10.0|         19|
+----------+----------+-----------+

In [175]:
# Join DataFrames prod_index and Prod_rating_20_index on the 'ProductID' column using an inner join
compare_20 = prod_index.join(Prod_rating_20_index, on='ProductID', how='inner')

# Display the resulting DataFrame after the join operation
compare_20.show()

+---------+-------------+---------+----------+-----------+
|ProductID|Product_count|ProdIndex|avg_rating|RatingIndex|
+---------+-------------+---------+----------+-----------+
+---------+-------------+---------+----------+-----------+

There are no matching IDs, therefore these sets are mutually exclusive.

**Create an RDD of tuples from the DataFrame in Question 4 with only 2 columns: asin and reviewerId, in that order.**

In [176]:
# Convert the DataFrame df1_sorted to an RDD and select the columns 'ProductID' and 'ReviewerID'
asinReviewer_rdd = df1_sorted.select("ProductID", "ReviewerID").rdd

# Map each row of the RDD to a tuple containing 'ProductID' and 'ReviewerID'
asinReviewer_rdd = asinReviewer_rdd.map(lambda row: (row.ProductID, row.ReviewerID))

# Display the first 10 elements of the resulting RDD
asinReviewer_rdd.take(10)

[('B00004YWK2', 'A93QX12JVL8MP'),
 ('B00004YWK2', 'A22DX9XOT1CUQ5'),
 ('B00004YWK2', 'A5POJ3A2LVFB1'),
 ('B00004YWK2', 'A3NFA6HF5LLYT'),
 ('B00004YWK2', 'AN63ZGJT5LO9B'),
 ('B00004YWK2', 'A24EAX9PUWHNYA'),
 ('B00004YWK2', 'A1T7AB4QD7J1JA'),
 ('B000056J8D', 'A17M9O2F7LGWMF'),
 ('B000056J8D', 'A17W1BALP211MS'),
 ('B00005OU6T', 'A1Z2PRLBAE6NTO')]

In [179]:
# Count the occurrences of each product in the RDD asinReviewer_rdd
product_counts = asinReviewer_rdd.countByKey()

# Convert the dictionary of product counts to an RDD of key-value pairs
product_counts_rdd = spark.sparkContext.parallelize(product_counts.items())

# Reduce the RDD to aggregate counts for each product
top_products = product_counts_rdd.reduceByKey(lambda a, b: a + b)

# Sort the products by count in descending order and take the top 20
top_20_products = top_products.sortBy(lambda x: x[1], ascending=False).take(20)

# Print the top 20 products and their respective counts
for product_id, count in top_20_products:
    print(f"('{product_id}', {count})")

('B000AST3AK', 1487)
('B004UB1O9Q', 1471)
('B00KJ07SEM', 1415)
('B004INUWX0', 715)
('B00E37TQV0', 658)
('B0045LLC7K', 655)
('B0014CN8Y8', 578)
('B0042ACZU2', 555)
('B00SPYDSFC', 453)
('B001B35APA', 443)
('B00DT5746Q', 433)
('B00NIZ0DV0', 426)
('B00INXG9MY', 421)
('B000VL060M', 396)
('B00AHR3IG4', 387)
('B000HE5DNI', 386)
('B00E37TR6E', 380)
('B0053F80JA', 372)
('B00LLM6ZFK', 363)
('B0009GVYNW', 362)

**Create another RDD of tuples from the DataFrame from Question 4 with the columns reviewerId and asin in that order**

In [180]:
# Convert the DataFrame df1_sorted to an RDD and select the columns 'ReviewerID' and 'ProductID'
reviewerAsin_rdd = df1_sorted.select("ReviewerID", "ProductID").rdd

# Map each row of the RDD to a tuple containing 'ReviewerID' and 'ProductID'
reviewerAsin_rdd = reviewerAsin_rdd.map(lambda row: (row.ReviewerID, row.ProductID))

# Display the first 10 elements of the resulting RDD
reviewerAsin_rdd.take(10)

[('A93QX12JVL8MP', 'B00004YWK2'),
 ('A22DX9XOT1CUQ5', 'B00004YWK2'),
 ('A5POJ3A2LVFB1', 'B00004YWK2'),
 ('A3NFA6HF5LLYT', 'B00004YWK2'),
 ('AN63ZGJT5LO9B', 'B00004YWK2'),
 ('A24EAX9PUWHNYA', 'B00004YWK2'),
 ('A1T7AB4QD7J1JA', 'B00004YWK2'),
 ('A17M9O2F7LGWMF', 'B000056J8D'),
 ('A17W1BALP211MS', 'B000056J8D'),
 ('A1Z2PRLBAE6NTO', 'B00005OU6T')]

In [188]:
from operator import add

# Map each row of the DataFrame df1_sorted to a tuple with a key of (ReviewerID, ProductID) and a value of 1
reviewer_product_pair_rdd = df1_sorted.rdd.map(lambda row: ((row.ReviewerID, row.ProductID), 1))

# Reduce the RDD to count the occurrences of each (ReviewerID, ProductID) pair
reviewer_product_counts_rdd = reviewer_product_pair_rdd.reduceByKey(add)

# Group the RDD by ReviewerID
grouped_by_reviewer_rdd = reviewer_product_counts_rdd.map(lambda x: (x[0][0], (x[0][1], x[1]))).groupByKey()

# Map the grouped RDD to create a dictionary of products and their counts for each reviewer
reviewer_product_dict_rdd = grouped_by_reviewer_rdd.mapValues(lambda x: {product_id: count for product_id, count in x})

# Calculate the total number of reviews for each reviewer
reviewer_total_reviews_rdd = reviewer_product_dict_rdd.mapValues(lambda x: sum(x.values()))

# Take the top 10 reviewers with the most reviews
top_10_reviewers = reviewer_total_reviews_rdd.takeOrdered(10, key=lambda x: -x[1])

# Collect data for the top 10 reviewers, including their ID, product review dictionary, and total review count
top_10_reviewers_data = []
for reviewer_id, review_count in top_10_reviewers:
    reviewer_data = (reviewer_id, dict(reviewer_product_dict_rdd.filter(lambda x: x[0] == reviewer_id).collect()[0][1]), review_count)
    top_10_reviewers_data.append(reviewer_data)

# Display the data for the top 10 reviewers
top_10_reviewers_data

[('A2LDP3A4IE9T6T', {'B0014CN8Y8': 2, 'B0006GVNOA': 204}, 206),
 ('AFUVGAUNQVT0S',
  {'B00GTB1WOC': 1,
   'B00DZU8UEK': 1,
   'B00J7CNC7K': 1,
   'B00PM8LHIE': 1,
   'B00DM8J11Q': 1,
   'B00DM8J2JM': 1,
   'B00ECV5J4A': 1,
   'B001ICS00G': 1,
   'B0050KJOQ6': 1,
   'B0156NAK3C': 1,
   'B00VTRO2WK': 1,
   'B00P9C66PM': 1,
   'B00IMFZMIA': 1,
   'B00NAP24TW': 1,
   'B0053F7UIM': 1,
   'B00DZU7RTO': 1,
   'B003BIGDEU': 1,
   'B00V6VTD9G': 1,
   'B00OP8991Y': 1,
   'B00LKL0EDQ': 1,
   'B00I0WOAI8': 1,
   'B003BIGDJ0': 1,
   'B001KGX5G4': 1,
   'B004XLDKHM': 1,
   'B00A8O0DNM': 1,
   'B00DM8KQ2Y': 1,
   'B00ECV3780': 1,
   'B005B9DP4I': 1,
   'B00MK261C2': 1,
   'B00DM8LECK': 1,
   'B00AUDAI04': 1,
   'B00C0E1H88': 1,
   'B0156NFUV4': 1,
   'B00U1KQKA8': 1,
   'B00LQDIQ88': 1,
   'B00LPDMAGS': 1,
   'B0156NJ0OM': 1,
   'B00ECV67Y6': 1,
   'B00DM8KR1E': 1,
   'B005459WBO': 1},
  40),
 ('A3H61AMBJ177DG',
  {'B005B48JX0': 1,
   'B00E0CWKMK': 1,
   'B00DM8KS9U': 1,
   'B00MGMXPU2': 1,
   'B00MGMWTQS': 1,
   'B00LHR05F0': 1,
   'B0156NE8ZS': 1,
   'B00W4YKCGC': 1,
   'B001KZDYHU': 1,
   'B00DM8JD4Q': 1,
   'B0053Y2SY4': 1,
   'B0156NI3BI': 1,
   'B00DM8KQ2Y': 1,
   'B00OVBMF7K': 1,
   'B00DM8J2HE': 1,
   'B001DPFP88': 1,
   'B00DM8J3VY': 1,
   'B00LQDFW26': 1,
   'B0053F8B1W': 1,
   'B00A8O04TU': 1,
   'B00AFSMZLO': 1,
   'B00ECV3EZG': 1,
   'B005ARC9BG': 1,
   'B00DM8LT2U': 1,
   'B00A8O05L2': 1,
   'B00DRIEOEU': 1,
   'B0093RDPI0': 1,
   'B00DZU7LJU': 1,
   'B00DM8KORQ': 1},
  29),
 ('A3RSUFA7CIL3TS',
  {'B00ECV3EZG': 1,
   'B00JCY5KC8': 1,
   'B00A8O06MK': 1,
   'B00LQDGTKU': 1,
   'B008YDSTHQ': 1,
   'B001B9W1U6': 1,
   'B00OMR1IUI': 1,
   'B008YDSH6E': 1,
   'B00570RQ0A': 1,
   'B00DM8K1NS': 1,
   'B00A8O06L6': 1,
   'B001E0R7T2': 1,
   'B0050KJS80': 1,
   'B00J13WNAC': 1,
   'B005AR76M8': 1,
   'B0053F9IGO': 1,
   'B00CW0O1EW': 1,
   'B00LQDFOCY': 1,
   'B00FNX2KVG': 1,
   'B00LHR9W6I': 1,
   'B00LQDAYZ6': 1,
   'B00DZUB99I': 1,
   'B001EYEKY8': 1},
  23),
 ('A37C9W32E7WE1B',
  {'B008DJLMP2': 1,
   'B00E0CWKMK': 1,
   'B00DM8J8XC': 1,
   'B00ECX0AFQ': 1,
   'B00LHR3S7M': 1,
   'B00DM8JVR0': 1,
   'B0053F8B1W': 1,
   'B0050O281A': 1,
   'B00LGUG36I': 1,
   'B00AOG6CHA': 1,
   'B008YDSP20': 1,
   'B00DZU8H5C': 1,
   'B0156NI3BI': 1,
   'B00AUDAEMQ': 1,
   'B00JCY5KC8': 1,
   'B00MK261C2': 1,
   'B008YDSETE': 1,
   'B00DM8LJQG': 1},
  18),
 ('A37DQO5LU8DXTV',
  {'B00VVJOT1K': 1,
   'B00J7DJKIO': 1,
   'B00570RQ0A': 1,
   'B004XLDE5A': 1,
   'B00P9C66PM': 1,
   'B01BGMU3TI': 1,
   'B006ZZU55Y': 1,
   'B003BIGDIQ': 1,
   'B00OL1CIOA': 1,
   'B001DHLGOS': 1,
   'B001DPOAHU': 1,
   'B005B9C97M': 1,
   'B0056I99WG': 1,
   'B00L4G7ZWK': 1,
   'B00570QEZI': 1,
   'B00J13WNAC': 1,
   'B0156NB4BO': 1},
  17),
 ('A2SEK167AI6DZM',
  {'B00DM8KD90': 1,
   'B00K1QUO5Y': 1,
   'B001DPP650': 1,
   'B005B9DP4I': 2,
   'B005AR7B0U': 1,
   'B0053Y3A4G': 1,
   'B00DM8JOVS': 1,
   'B00E66SE2U': 1,
   'B0056I99WG': 1,
   'B00DM8JL4I': 1,
   'B00DM8L8DK': 1,
   'B004H3XWVK': 1,
   'B00D8G49D2': 1,
   'B00DZU8U36': 1,
   'B00DM8JD1O': 1},
  16),
 ('AGADNX7MZ425',
  {'B0053F8B1W': 1,
   'B00DM8L0AG': 1,
   'B005BNM838': 1,
   'B0053Y2CNG': 1,
   'B0156NAU46': 1,
   'B001F8DLH0': 1,
   'B00DM8L8DK': 1,
   'B00JV1PFRM': 1,
   'B0053F7NSO': 1,
   'B0156N9ZDI': 1,
   'B004XLDZSG': 1,
   'B007UD2GJ8': 1,
   'B00ECV64AS': 1,
   'B005459SYK': 1,
   'B005BNN4KY': 1,
   'B002YT7YL8': 1},
  16),
 ('A2CIEGHZ7L1WWR',
  {'B00CW0O1EW': 1,
   'B00K1QUO5Y': 1,
   'B00P9C66PM': 1,
   'B00JYLU0MY': 1,
   'B004XLDHSE': 1,
   'B00009W3PA': 1,
   'B00MMT798S': 1,
   'B0043I7UFI': 1,
   'B00DM8J11Q': 1,
   'B00DM8LVDM': 1,
   'B00I0WOAI8': 2,
   'B00DM8LZAQ': 1,
   'B00DM8JL4I': 1,
   'B0053F80JA': 1},
  15),
 ('A2KRNK6HVD2DTY',
  {'B00RY3AOJ8': 1,
   'B005BA3ATW': 1,
   'B0053F80JA': 1,
   'B00DM8L42U': 1,
   'B004DAQDCW': 1,
   'B005BNMWCA': 1,
   'B0156N9ZDI': 1,
   'B000LO7FNK': 1,
   'B00E0CWKMK': 1,
   'B0053Y2T5C': 1,
   'B00ECV4BXU': 1,
   'B002DUCEMM': 1,
   'B00A8O03LE': 1,
   'B0156NB4BO': 1},
  14)]